[2016-02-25 21:03] yifan-gu opened #1 "no patterns matched tag"
Hello, I am trying to play with journal logs using the plugin, but I saw `no patterns matched tag` error. I am new to fluentd, not sure if I am missing anything?

My config is:

[code]

[code]

Thank you.

[2016-03-12 02:33] yifan-gu commented on #1
cc @chancez

[2016-03-14 16:19] errm commented on #1
You need to have a match block to send your logs someplace.

The simplest thing you could do is write them to a file, try something like this...

Or take a look at the documentation at http://docs.fluentd.org/articles/output-plugin-overview

[code]

[2016-03-15 18:33] yifan-gu commented on #1
@errm Thank you, I will try.

[2016-03-18 13:38] Marcussk opened #2 "No input from systemd"
From td-agent.conf i @include ui_server.conf
There i have following:
[code]

Problem is I can't get any logs to td-agent.

Manually getting logs from journal works just fine:

[code]

I can see it included when checking td-agent.log and following lines seem to indicate everything went well:
[code]

Plugin is also present in list of installed plugins:
`2016-03-18 12:35:27 +0000 [info]: gem 'fluent-

[2016-03-18 14:47] errm commented on #2
Hi,

What system(distro) are you running on? What version of libsystemd do you have?

[2016-03-18 14:57] errm commented on #2
It may just be that you don't have a libsystemd-dev or similar package installed on your system...

Take a look how we set up the test environment for the plugin https://github.com/reevoo/fluent-plugin-systemd/blob/master/Dockerfile, this is Ubuntu, but I imagine the dev headers would need to be installed separately on most distros

[2016-03-18 14:59] errm commented on #2
We also have a docker container with everything set up already you could play around with https://github.com/assemblyline/fluentd  / https://quay.io/repository/assemblyline/fluentd you just need to bind mount /var/log/journal inside the container . . .

[2016-03-18 14:59] errm opened #3 "Build fails on reevoocop"
We updated the style guide, now the build fails

[2016-03-18 16:11] Marcussk commented on #2
[code]

[code]

Don't know how to fin out version of libsystemd.

I have been using systemctl to run service on server, application is writing logs to stdou and i was accessing them through journactl. Can't access them through td-agent though.

Havent worked with docker yet, but will check it out...

[2016-03-18 16:38] Marcussk commented on #2
I found out that not even position file was created...
It should be located here:
pos_file /var/log/td-agent/ui_server.log.pos

but it does not even exist...
Strange thing is position files created by in_tail plugin work for that directory

[2016-03-18 16:59] #3 closed

[2016-03-18 17:06] errm commented on #2
Could you try installing the development headers for systemd?

I think on redhat based systems, the package is `systemd-devel`, I am going to try and get the tests to run against a centos image as well, so hopefully I will be able to advise better . . .

[2016-03-18 17:57] errm commented on #2
Ok scrub that, development headers are not needed . . .

I have run the tests in a centos container without issue.

It would be really useful, if you could try cloning the repo, and running the tests on your system.

should be something like:

[code]

[2016-03-18 18:28] Marcussk commented on #2
[code]

Hello, did that but I was not successful.
Tried running it with trace:

[code]

[2016-03-18 20:33] errm commented on #2
sorry could you try pulling again then
`bundle exec rake test`

[2016-03-18 21:21] Marcussk commented on #2
Uhm, sorry pulling? cant see anything new on master branch

[code]

Running it I get this:

[code]

[2016-03-19 20:27] errm commented on #2
Ok, so I don't really understand what has happened there, seems to be an issue with installing msgpack in your system ruby... but shouldn't really be an issue as you are using td agent.

could you try again with `read_from_head` set to true, and perhaps just load your conf file in isolation

like `td-agent -c ui_server.conf`

actually it would be great to get the verbose output, like `td-agent -vv

[2016-03-19 20:29] errm commented on #2
If that doesn't work, I guess we could try jumping on skype to try some debugging.  Try as I might, I can't seem to reproduce anything like the behaviour you are seeing..

[2016-03-19 20:42] errm commented on #1
Hi @yifan-gu did you have a chance to see if that solved your issue...

[2016-03-22 20:47] Marcussk commented on #2
Sorry for late response.
There were some issues with systemd on server. Loading it directly with this configuration works for stdout:

[code]

I will look into this issue now and try to some testing and change configs a bit.

[2016-03-22 21:17] Marcussk commented on #2
Update:
Tried to start td-agent like this (normally works for tailing):
systemctl start td-agent

Did few restart and the tried manual debug:
[root@ant-2 td-agent]# curl -X POST -d 'json={"data":"test ui_server logs"}' http://localhost:8972/ant-2.ui_server.debug

and it works like it is supposed to
stdout copy in td-agent.log and file were created

Logs from journal though still dont appear.

I wi

[2016-03-22 23:52] yifan-gu commented on #1
@errm Sorry for the late reply. It works. Thank you :)

[2016-03-22 23:52] #1 closed

[2016-03-23 07:45] errm commented on #1
Awesome, good news :) You might also want to check out the container we use for pushing logs on coreos . . . https://github.com/assemblyline/fluentd

[2016-03-23 07:50] errm commented on #2
Thanks for the update . . . If you find something that I can add to the documentation about what your config issues were that would be awesome.

And trying to debug this has lead me to do testing on some platforms that were not tested before, so thats awesome ....

[2016-03-30 11:10] Marcussk commented on #2
Sorry for late update...
I tried to debug this issue once again and found no solution...
When i run td-agent directly everything seems to work fine...
When i run it from systemctl i cant get any events no matter what configuration, not even position file is created... Manually debugging from curl -> HTTP Input creates log file and stores debug messages...

So running it directly works. Running sam

[2016-03-30 15:14] errm commented on #2
Hey, I am reopening this, but tbh it seems more like it might be an issue with fluentd/tdagent I will try asking to see of someone on the fluentd slack channel might know what the issue is.

[2016-03-30 16:01] Marcussk commented on #2
Second that,
I think issue might be somewhere around file permissions, when running it that way. Can't find proof of that though :( I will dedicate more time to it and will keep you posted!

[2016-03-30 18:40] errm commented on #2
So what is the user that fluentd/td-agent runs as when you start it with systemctl?  perhaps that user, does not have the correct permissions on `/var/log/journal/*`?

[2016-03-30 18:47] Marcussk commented on #2
It seems one of problems is:
`2016-03-30 18:44:39 +0000 [error]: fluent/supervisor.rb:355:rescue in main_process: config error file="td-agent.conf" error="out_file:`var/log/td-agent/systemd.log.20160330_1.log`is not writable"`

tried to login as user td-agent and run td-agent directly... (when running it from systemctl i did not specifiy verbosity in init.d script so I missed message)

I am lookin

[2016-03-30 18:51] errm commented on #2
Yeah that sounds like a more general permissions issue, rather than something specific to this plugin...

[2016-03-30 19:20] Marcussk commented on #2
Well running td-agent as root:
`2016-03-30 19:14:03 +0000 systemd: {"PRIORITY":"6","_UID":"0","_GID":"0","_CAP_EFFECTIVE":"1fffffffff","_BOOT_ID":"ac8699b29d824339a60f995b0230a45a","_MACHINE_ID":"daa4b58df6514abb835cd7aac385dfe6","_HOSTNAME":"ant-2.fit.vutbr.cz","_SYSTEMD_SLICE":"system.slice","SYSLOG_FACILITY":"3","_TRANSPORT":"stdout","SYSLOG_IDENTIFIER":"ui_server","_PID":"19845","_COMM":"ui_se

[2016-03-30 19:45] Marcussk commented on #2
Sratch that...
running it directly from root I solved the issue. I can get data to elasticsearch when it runs directly from root.
The rest seems like my problem with permissions and configuration, though plugin seems to run just fine.  I will try to solve the rest and find specific issue with permission, though now I can guarantee its general problem as you wrote.
Thanks again for all your effort!

[2016-04-03 20:02] Marcussk commented on #2
I got an update on my "issue".
Finally found source of all the problems.
Configuration file:

[code]

All the time i missed '/' in path /var/log so while I was looking for my logs in /var/log/ they were in /etc/td-agent/var/log/ whole time.
One of the silly problems between keyboard and chair.
Thanks again for all the info and your help!

[2016-04-03 20:02] #2 closed

[2016-04-04 06:24] errm commented on #2
Oh wow, what a pain, glad you finally tracked down the issue.

[2016-05-02 23:49] dhawal55 opened #6 "fluentd restart loop when reading journal logs"
I'm running fluentd with the systemd-journal plugin. After running fine for few days, fluentd keeps crashing with the below error:

[code]

For reference here is our dockerfile:
https://github.com/Nordstrom/docker-fluentd-aws-elasticsearch/blob/master/Dockerfile

OS version: CoreOS beta 1010.1.0
Systemd version: 225

[2016-05-03 10:34] errm commented on #6
Humm, looks like something unexpected got into one of the pos files.

Could you take a look at them? If you remove the pos files does everything start up from scratch as expected?

I am not quite sure what we should do to recover in this case.... Just throw a better error, or skip trying to seek to the pos, and read from head or tail, without any intervention.

[2016-05-03 15:50] dhawal55 commented on #6
The pos file is empty and deleting it does not help. It works fine if I kill the container and start again. But it again stops working after few days. It will be nice to throw a better error. "Invalid argument" doesn't say much about what went wrong.
Any idea what could cause the `seek` function to fail?

[2016-05-03 16:01] errm commented on #6
If the pos file does not contain a cursor it may well be that there is some issue with writing it out. Could it be permissions? Who owns the pos file? and what is the user you are running fluent as? Are you mounting a volume to write the pos files to?

The pos file should have a value that looks something like:
`s=add4782f78ca4b6e84aa88d34e5b4a9d;i=1cd;b=4737ffc504774b3ba67020bc947f1bc0;m=42f2dd;t

[2016-05-03 16:22] dhawal55 commented on #6
Fluentd is running as root and has rw permission on the file. The file is owned by root and is mounted on root device. The pos file starts correctly (just like the sample shown above) but after running for few days, fluentd starts failing and the file becomes empty.

If it is a permission issue, shouldn't it fail the very first time? Something is causing the pos file to become empty and preventing

[2016-05-03 19:43] errm commented on #6
Humm sounds interesting.

I have a patch that should solve the symptoms, by ignoring the pos file if it contains an invalid cursor #7

It would be great if we could reproduce the error writing to the pos....
It seems like the writer thread is still running correctly, or the file would not have been blanked out, I guess that we might be getting an invalid value back from systemd here https://github

[2016-05-03 20:21] errm commented on #6
I have been trying to work out how this could happen... Am having a hard time... @dhawal55 do you have any logs from immediately before fluentd starts crashing?

[2016-05-03 23:32] SleepyBrett commented on #6
hey @errm I work with @dhawal55, finding some other stuff. It seems like it has trouble flushing it's buffer out to ES.. then it fails to alloc for writing the pos file.

[code]

[2016-05-04 07:33] errm commented on #6
Hi @SleepyBrett, yeah that seems like that could cause the issue....

I am not sure that there is anything we can do to mitigate this in the plugin, if the process is OOM and everything is broken...

Looking at your Dockerfile you might want to set `reload_connections false` in your `<match **>` block as you are using aws-elasticsearch-service, the reload_connections thing doesn't work properly as

[2016-05-05 15:41] dhawal55 commented on #6
Hello @errm. Sorry, i got pulled into something else so couldn't respond for last few days. Thank you for your time and help in this matter. I will try to set `reload_connections` to false and see if that helps with the buffering issue. I will keep you posted on the outcome.

[2016-05-06 08:58] errm commented on #6
Hopefully this will solve things for you @dhawal55, did you pull in the latest version of this plugin?

[2016-05-17 15:24] errm commented on #6
Ping @dhawal55 did you get things sorted out?

[2016-07-22 23:16] dhawal55 commented on #6
@errm Sorry, i totally forgot to update the status. Things were working fine since i last reported until now. I'm seeing the same error again. I'm updating to use the latest version (0.0.3) of the plugin. Will let you know if that fixes the issue.

[2016-07-22 23:23] errm commented on #6
Thanks that would be great :)

[2016-07-22 23:50] dhawal55 commented on #6
@errm The new version works. I'm going to close this issue. Thank you for all your help.

[2016-07-22 23:50] #6 closed

[2016-08-16 21:26] macdjord opened #8 "systemd plugin causes immediate, silent crash"
2016-08-16 17:12:07 -0400 [info]: reading config file path="/etc/td-agent/td-agent.conf"
    2016-08-16 17:12:07 -0400 [info]: starting fluentd-0.12.26
    2016-08-16 17:12:07 -0400 [info]: gem 'fluent-mixin-config-placeholders' version '0.4.0'
    2016-08-16 17:12:07 -0400 [info]: gem 'fluent-mixin-plaintextformatter' version '0.2.6'
    2016-08-16 17:12:07 -0400 [info]: gem 'fluent-plugin-concat

[2016-08-18 15:41] macdjord commented on #8
Update: added 'log_level trace' to conf, reran:

[code]

[2016-08-19 09:26] errm commented on #8
What does your environment look like?  Are you running fluentd on the same host as systemd, or inside a container?

Could you try isolating the problem by running fluentd with just the systemd input and a basic output plugin like file or something...

The verbose logs would be super useful also, if you could run fluentd with `-vv` http://docs.fluentd.org/articles/trouble-shooting#turn-on-verbose-l

[2016-08-19 20:36] macdjord commented on #8
Environment: CentOS 7, not containerized

Minimalist config, verbose logging on:

[code]

The relevant files on disk:

[code]

[2016-08-24 08:40] errm commented on #8
This one is hard to pin down... as far as the logs are concerned there doesn't seem to be anything going wrong in the plugin itself... it could be an underlying thing with systemd, or a particular journal...

Have you been able to reproduce the behaviour on another system... we do test the plugin against centos...

[2016-08-24 15:26] macdjord commented on #8
No - all our machines are either CentOS 7, like above, or CentOS 6, which doesn't use systemd and therefore isn't a valid target for this plugin anyway.

[2016-08-29 21:14] jescarri opened #9 "new version of fluentd does not auto load core libs -- fluent:latest"
new version of fluentd does not auto load core libs, causing lib/fluent/plugin/systemd/pos_writer.rb to die with unexpected error error=uninitialized constant Fluent::Input

[2016-08-29 21:15] jescarri commented on #9
[code]

[2016-08-29 21:17] jescarri commented on #9
PR https://github.com/reevoo/fluent-plugin-systemd/pull/10

[2016-08-30 01:16] jescarri commented on #9
I was able to make it pass almost all the tests, however there is one that seems to not work properly.

[code]

In [https://github.com/reevoo/fluent-plugin-systemd/blob/master/lib/fluent/plugin/in_systemd.rb#L43-L48
 ](url)

seems that the log buffer is not properly initialized, or there is another way to get it back from the DummyLog module,  d.instance.log.out.logs.first

[2016-08-30 11:50] errm commented on #9
Thanks for your contribution.
I have released a new version of the plugin

[2016-08-30 11:50] #9 closed

[2016-08-31 15:10] warmfusion commented on #8
@repeatedly suggests this may be related to https://github.com/treasure-data/omnibus-td-agent/issues/87

[2016-08-31 18:11] errm commented on #8
Thanks @warmfusion...

@macdjord could you try updating td-agent and see if that solves your issue?

[2016-08-31 18:18] repeatedly commented on #8
td-agent including above fix is not released yet.
I'm now working on it but I have several building issues...

[2016-09-18 07:39] mindw opened #11 "Add support for in_tail parser plugins (format_multiline)"
Merging mulltiline logs outside input plugins logs is very difficult see okkez/fluent-plugin-concat#8  for an explanation.

[2016-09-21 17:53] andrericos opened #12 "Process finished code=134"
hi,

I tried to use this plugin to read my app's log, but i had some issues.

First of all, there is a Dockerfile that a created to show my current progress:

[code]

Initially, i tried to follow the documentation and just add this in /etc/td-agent/td-agent.conf:

[code]

It didn't work and i realized that the journalctl was putting the data in /run/log/journal, because some persistence property.

[2016-09-21 18:06] errm commented on #12
It seems this is a dupe of #8 it is caused by a dependency that needed updating in td-agent.

As a workaround you could try installing ruby and the fluentd gem yourself. Here is my current production setup https://github.com/assemblyline/fluentd/blob/master/templates/Dockerfile.erb

[2016-09-21 18:16] #12 closed

[2016-09-21 18:21] errm commented on #11
I have no plans to add this functionality, as we do not allow for multiline logs in our(reevoo's) system.

I am happy to accept and review a PR if someone else wants to contribute it. I have had a look at the implementation in the in_tail plugin and it seems quite complex...

[2016-09-21 21:11] andrericos commented on #12
It works!

thanks!

[2016-10-07 17:32] kayrus opened #13 "How do you handle time keys?"
I need to store timestamps under "time" key for Kibana. But journald logs appear with `@timestamp` key. Which results in empty search results in Kibana, until I remove the index and set it to `@timestamp` key.

[2016-10-08 10:34] errm commented on #13
TBH I can't really remember how kibana works with this, we stopped using it about 6 months ago.

Is it possible to configure the key used for timestamps?

As far as I remember all we needed to do to have kibana play nicely was set the `strip_underscores` option to true.

If you need something custom for a reason you should be able to change stuff with a plugin like https://github.com/repeatedly/fl

[2016-10-13 18:05] mikekap opened #14 "Exceptions in emit cause stall"
When emit throws an exception, it looks like the thread that reads from systemd just stops. There should likely be a `rescue` in there, or, alternatively, you could set `Thread::abort_on_exception=true`. That's not the best behavior though.

[2016-10-25 12:00] #14 closed

[2016-10-25 14:52] errm commented on #8
Looks like https://github.com/treasure-data/omnibus-td-agent/issues/87 was closed, so this should be fixed there.  If the issue persists please feel free to comment here and I will investigate.

[2016-10-25 14:52] #8 closed

[2016-10-25 14:53] #13 closed

[2016-11-10 13:00] Hexta opened #16 "Crash with Systemd::JournalError: Bad message"
Plugin with version 0.0.5 crashes on starting. Version 0.0.4 works fine.
Backtrace

[2016-11-20 17:54] errm commented on #16
Hi I can't reproduce this, could you provide fluentd/td-agent version and any other information that might help track this down...

Do you see this error on all invocations of the plugin, or are particular messages in the journal an issue?

[2016-11-23 13:46] Hexta commented on #16
td-agent  v2.3.3
fluentd v0.12.29

But this error didn't happen in the last few days. I think that this error caused by very specific journal message. I will provide log entry if the error happened again.

[2016-11-23 15:03] errm commented on #16
Super thanks, I will close for now, but if you encounter again we can reopen...

[2017-01-07 00:11] richm opened #19 "read_from_head false does not work"
If you explicitly set `read_from_head false` it doesn't work - it reads from head instead of tail.

[2017-01-07 00:16] richm opened #20 "need to move back after seek(:tail)"
because of https://github.com/ledbettj/systemd-journal/issues/64 fluent-plugin-systemd does not start reading at the actual tail of an actual journal.  We need a workaround to avoid having fluentd read and process bogus entries.

[2017-01-07 00:19] richm commented on #19
submitted PR https://github.com/reevoo/fluent-plugin-systemd/pull/21

[2017-01-07 00:22] richm commented on #20
submitted PR https://github.com/reevoo/fluent-plugin-systemd/pull/22

[2017-01-11 11:58] #19 closed

[2017-01-11 11:58] #20 closed

[2017-01-13 14:15] dannyk81 opened #24 "fluentd crashes if journal path is not available"
Using `fluent-plugin-systemd` version `0.0.5` on `fluentd-0.12.31` (Dockerized in K8s environment)

When starting fluentd with this plugin, in case the journal path is not available on the server it causes fluentd to crash.

[code]

Any way to handle it more gracefully ?

[2017-01-13 14:53] errm commented on #24
I am not sure what the best way to handle this would be ....

How do other plugins handle this sort of fatal error?

There are two real options to handle this

* In my mind something like this should cause fluentd to exit .... we could clean up the error message a bit though and let fluentd shut down properly.
* Or should we do something else, stay running, log errors and wait until the path does

[2017-01-13 15:20] dannyk81 commented on #24
I think it should log a warning and retry to access, similar approach that the tail plugin uses (I believe):
[code]

[2017-01-13 15:48] errm commented on #24
I could go for that, doing the same thing as the tail plugin makes a lot of sense.

Did you wan't to have a bash at this @dannyk81 ? Otherwise it will go onto my list :)

[2017-01-13 17:33] dannyk81 commented on #24
I could try :) but no much experience with Ruby I'm afraid...

By the way, slightly unrelated... the new 0.1.0 requires fluentd 0.14.11 ?

[2017-01-14 12:11] cosmo0920 commented on #24
Yes. If you are still using Fluentd 0.12.x, please use fluent-plugin-systemd 0.0.5.

see:  https://github.com/reevoo/fluent-plugin-systemd/pull/25/files#diff-04c6e90faac2675aa89e2176d2eec7d8R11
see: https://github.com/reevoo/fluent-plugin-systemd/blob/fa5f1ebd595ee56395e5c7a270bb1113e62e0d05/fluent-plugin-systemd.gemspec#L26

[2017-01-14 12:19] cosmo0920 commented on #24
Just my thought, Fluentd and its plugins should detect any suspicious and erroneous settings in `#configure` instead of after `#start`. Because it helps users to notice errors and warnings before launching completely.

[2017-01-14 22:49] errm commented on #24
I have just cut a 0.0.x branch for maintenance of a v0.12 compatible version hopefully we can continue to backport stuff there at least until td-agent is based on v0.14

[2017-01-14 23:02] dannyk81 commented on #24
Thanks! that would be a awesome.

[2017-01-15 06:39] cosmo0920 commented on #24
@errm I've found that [this line](https://github.com/reevoo/fluent-plugin-systemd/compare/0.0.x#diff-8dd40efa804b5a4321e5f843e92fc86cR26) should be `~> 0.12.0` in 0.0.x branch.
Because rubygems interprets it as `>= 0.12.0 && < 1.0`.
The right way to specify locking v0.12.x version is `~> 0.12.0`.

[2017-01-15 23:48] errm commented on #24
^^ I think you are right, but it shouldn't cause too much harm since 0.0.x should still work ok on v0.14

[2017-01-19 14:30] dannyk81 opened #26 "Exception emitting record: "\xC2" from ASCII-8BIT to UTF-8"
Using `fluent-plugin-systemd` version `0.0.5` on `fluentd-0.12.31` to read journald logs from kube-apiserver, kubelet, kube-proxy, etc... and getting the following errors form time to time:

[code]
Any ideas why ?

I stumbled upon this while trying to figure out why I stop receiving events (I use splunkapi output plugin) exactly when it turns midnight :confused:

I have other tail sources in the s

[2017-01-23 09:52] evmin opened #27 "systemd plugin fails to recognise journal file rotation"
RHEL 7.3
systemd plugin 0.1.0

It looks like the plugin stops feeding the entries on journal file rotation.

How to reproduce:

update /etc/systemd/journald.conf with the config entries (just for demo sake only):

[Journal]
Storage=persistent
SystemMaxUse=8M
SystemMaxFileSize=1M
SystemMaxFiles=3
MaxRetentionSec=1d
MaxFileSec=5m

reload systemd config:
systemctl force-reload systemd-journald

Once

[2017-01-23 10:34] errm commented on #26
potentially related to #27

[2017-01-23 11:48] evmin commented on #27
Mine is on td-agent   2.3.4-0.el7 - fluentd 0.14.11 if I am not mistaken.

And one more thing worth noting. Since I have disabled the log file rotation - i.e. system.journal would start anew when filled, the behaviour have been inconsistent - sometimes the plugin would happily continue capturing the entries, but sometimes would halt.

Was not able to identify the pattern as yet.

[2017-01-23 18:17] dannyk81 commented on #26
Indeed seems related! any leads into what's going on?

[2017-01-31 06:26] neko-neko opened #29 "pos file permission is invalid"
# Issue
pos file is other user writable.
[code]

Should explicitly set permissions.
lastest ruby set default permission `0666`.
https://docs.ruby-lang.org/ja/latest/method/Kernel/m/open.html

My PR.
https://github.com/reevoo/fluent-plugin-systemd/pull/28

[2017-02-01 09:50] #29 closed

[2017-02-03 00:13] dannyk81 commented on #26
@errm

Gentle ping :)

[2017-02-06 09:05] errm commented on #26
Hi @dannyk81 so there seems to be two things going on here ... when the journal file is rotated logs top being ingested ... and the encoding issue in your logs.

I think these two things are unrelated but the journal file rotation issue is the root cause of the symptoms (not receiving events), the encoding thing should only cause you to lose that one event.

I haven't had the bandwidth to look at

[2017-02-06 17:03] dannyk81 commented on #26
Thanks for the feedback :+1:

Indeed the file rotation issue is the one that troubles me at this point.

[2017-02-08 09:10] errm commented on #27
Hi @evmin I am trying to take a look at this issue this week, are you seeing any errors in the output from fluentd, or is it just a case of this failing silently?

[2017-02-08 09:17] taskinen commented on #27
I am too seeing this issue. There are no errors in td-agent.log. Only this gets printed while the streaming from journald is frozen:

2017-02-08 06:25:01 +0200 [info]: flushing all buffer forcedly
2017-02-08 06:25:01.000000000 +0200 fluent.info: {"message":"force flushing buffered events"}
2017-02-08 06:25:01.000000000 +0200 fluent.info: {"message":"flushing all buffer forcedly"}

The definitive h

[2017-02-09 10:50] errm commented on #27
Is this something that showed up in version 0.1.0 or is it an issue with the 0.0.x branch as well?

[2017-02-19 23:15] errm commented on #26
Re: the encoding issue it sounds like `LANG` is not setup correctly.

You probably want something like this in your Dockerfile:
[code]

[2017-02-20 02:05] dannyk81 commented on #26
Interesting, will give it a try!

[2017-02-20 05:21] errm commented on #26
Humm ignore that, it seems like fluentd is specifically overriding the system encoding...

see https://github.com/fluent/fluentd/issues/803 and https://github.com/fluent/fluentd/commit/32790dc908f9364ac3ac99eb0d2e514a8f05b909

[2017-02-20 07:19] #24 closed

[2017-02-20 13:28] dannyk81 commented on #24
Awesome!!! Thanks for this :+1:

[2017-02-20 13:51] errm commented on #26
I have had a little look at this, the systemd plugin is correctly (as per the fluentd config) outputting the data with the ASCII-8BIT encoding, it seems like an output plugin that you are using is trying to convert to UTF-8, as I understand fluentd, this is a bug with that plugin as fluentd expects internally everything to be in the ASCII-8BIT encoding.

[2017-02-20 13:51] #26 closed

[2017-02-20 13:53] errm commented on #27
@evmin, @taskinen I have released v0.1.1 and v0.0.7 that should resolve this issue... could you see if it does indeed resolve your issue before I close this ticket.

[2017-02-21 19:43] dannyk81 commented on #26
Understood, I'll have to look into that plugin internals (splunkapi), though we will probably switch to Elasticsearch soon.

[2017-03-07 23:48] timstclair opened #32 "High CPU usage with v0.0.7"
We observed a huge increase in CPU usage between version v0.0.6 and v0.0.7 using the following config:
[code]
It looks like there was only a single commit between those versions: https://github.com/reevoo/fluent-plugin-systemd/commit/bcbd53ed42b85df5e8ec9b42410bf43a4d0c2683

See https://github.com/kubernetes/kubernetes/issues/42515 for more background on how the issue manifested in our setup.

I'm

[2017-03-08 17:33] errm commented on #32
Thanks for the report @timstclair I will take a look and hopefully get a fix out in a few hours

[2017-03-08 21:04] msonnabaum commented on #32
Also found this today. Looking at bbf9333, wouldn't `journal.wait(1_000_000)` work just as well as the `sleep 1`?

[2017-03-08 22:05] errm commented on #32
It would, but the issue is we are now monitoring the responses to journal.wait in order to get notifications of when the journal has been rotated. I spent a few hours trying to work out a solution that would:

a) fix the issue
b) not cause the journal rotation bug to re-occur
c) not cause the automated tests to become much more complicated

As we are using the timer helper in the mainline branch a

[2017-03-08 22:09] errm commented on #32
@timstclair I have just pushed version `0.0.8`, it would be great if you would able to test this version in your environment?

[2017-03-08 22:43] timstclair commented on #32
I confirmed I'm not seeing the issue with `0.0.8`.  Thanks!

[2017-03-09 02:01] #32 closed

[2017-03-09 07:22] #27 closed

[2017-04-23 16:31] devent opened #33 "Systemd::JournalError: No such file or directory retrying in 1s"
Hello, I'm trying out your plugin, but I'm stuck at this error.

[code]

Configuration:

[code]

Directories (Fluentd is run as root):

[code]

Changing path to `/var/log/journal/c956513c70744b3483ee4ea2b0d1b5c9` or `/var/log/journal/c956513c70744b3483ee4ea2b0d1b5c9/system.journal` doesn't help.

Versions.

[code]

[2017-04-24 05:23] errm commented on #33
Humm, this is weird, it looks like everything is set up correctly...

I take it you are running fluentd in a container?  How have you mounted /var/log/journal? What capabilities does the container have? What version of systemd are you using in the container... and on the host?

[2017-04-24 13:52] devent commented on #33
Hello, thank you, but it was my fault. I had two times `path`.
[code]

[2017-04-24 13:52] #33 closed

[2017-04-24 13:54] errm commented on #33
🎉

[2017-06-01 14:23] fabianmenges opened #34 "Journal files are kept open after rotation (deletion)"
I'm using fluent-plugin-systemd with log rotation and old (deleted) log files are kept open.

[code]
This is  my configuration:
[code]

[2017-06-01 15:37] errm commented on #34
which version of the plugin are you using?

[2017-06-01 16:02] fabianmenges commented on #34
Version 0.2.0
[code]

[2017-07-11 16:46] dhawal55 opened #35 "Fluentd not reading journal logs"
I'm unable to determine my fluentd is not reading my journal logs:

I'm using v0.2.0 of fluent-plugin-systemd and here's my fluentd config:
[code]
When I look at fluentd logs, everything looks fine but no journal logs are read:
[code]

I'm running this on CoreOS v1437.3.0

[2017-07-12 10:48] errm commented on #35
Some things I would check first...

1) Do you have journal files in `/var/log/journal` ?
2) Is `/var/log/journal` mounted into whatever container you are using correctly
3) Does the user you are running fluentd as have the correct permission to read `/var/log/journal`
4) Is there a mismatch between the version of libsystemd writing the journal on the host, and inside your fluentd container ...

[2017-07-18 13:10] harobed commented on #35
My docker-compose:

[code]

fluentd configuration:

[code]

my fluentd dockerfile:

[code]

/etc/systemd/journald.conf config

[code]

OS:

[code]

fluentd have root access in Docker container.

[code]

After:

[code]

with `journalctl -xf` I see:

[code]

nothing in ` fluentd-log/output.20170718_6.log` and nothing in `ElasticSearch`.

Same subject here: https://groups.google.com/forum/#!topic/flu

[2017-07-18 16:52] harobed commented on #35
Fixed with

[code]

in my docker-compose.yml

[2017-07-21 16:08] richm opened #37 "pause reading from journal when there is back pressure"
If the buffer queue is full, `router.emit` by default will throw an exception `BufferOverflowError`
https://github.com/fluent/fluentd/blob/master/lib/fluent/plugin/buffer.rb#L196
when this happens, the journal plugin will just throw away the record:
https://github.com/reevoo/fluent-plugin-systemd/blob/master/lib/fluent/plugin/in_systemd.rb#L95
Instead, the plugin should back off and allow the queu

[2017-07-22 00:19] errm commented on #37
Thanks @richm, I will look at a fix for this...

[2017-07-22 11:51] errm commented on #35
@dhawal55 did you manage to fix your issue?

[2017-07-24 16:03] #37 closed

[2017-07-27 09:23] errm commented on #11
I am closing this as given the direction the plugin has taken I don't even think I would accept code to do this so I don't want someone to work on this assuming that we would merge the code...

[2017-07-27 09:23] #11 closed

[2017-08-02 18:41] dannyk81 commented on #16
Hey Guys,

I'm running `fluentd-0.12.35` with `fluent-plugin-systemd-v0.0.7` and hitting this error on a CoreOS node:

[code]

When I check the journal on this node, indeed there's some issue:
[code]

I'm not sure what exactly is wrong with the journal, I tried vacuuming and rotating it, afterwards it was clean but the issue keeps creeping back.

Is it possible for the plugin to handle this withou

[2017-08-02 20:21] errm commented on #16
Thanks for the report @dannyk81 it should be possible for us to catch this and move on...

[2017-08-09 13:50] dannyk81 commented on #16
Thank you! would be awesome 👍

[2017-09-11 14:38] arianvp commented on #32
I am experiencing this issue with 0.3.0. However, we do exports hundreds of log entries per second. Syslog exporter seems to cope just fine.   `journald-upload` (which we are using currently for log aggregation) doesnt mind either. but this plugin ends up using 100% CPU

[2017-09-11 14:53] arianvp commented on #32
I did a `strace` in one of our live systems. and 99% of the time it's calling the `futex` syscall

[2017-09-12 12:43] errm commented on #32
Hi @arianvp this is not the same bug since we replaced the wait code with a fluentd timer a while ago.

Could you open a new issue with the exact versions of fluentd + systemd you are using...

[2017-09-13 09:22] Globegitter opened #40 "Plugin @id or path for <storage> required when 'persistent' is true"
I have a config like:

[code]

and getting the following error:

[code]

If I remove the `@id` from the storage section and add the `path` it all works fine.

[2017-09-13 16:59] errm commented on #40
If you set persistent true it is required to give a path to the file used to store the cursor...

A working example is given in the `README`, could you explain what you expect to happen with this configuration? since it just looks invalid to me.

[2017-09-15 05:19] cosmo0920 commented on #40
How about the following configurations?
Because storage plugin does not handle file path with `@id`.
Instead we can specify it storage directive's attributes.

[code]

[2017-09-15 07:15] Globegitter commented on #40
@errm I was just confused because of the error message saying `@id or path` so I expected I was able to set `@id` but @cosmo0920 gave the answer it seems - thanks :)

[2017-09-15 07:15] #40 closed

[2017-09-20 00:20] dannyk81 commented on #16
@errm any chance to see this any time soon?

[2017-09-27 12:18] cihangirbesiktas commented on #35
I could not get the logs with the following configuration in Centos 7 host.

[code]

[2017-09-29 17:09] MattMencel commented on #35
@cihangirbesiktas did you figure this out?  I'm having the same issue on centos 7.

[2017-10-02 07:27] cihangirbesiktas commented on #35
@MattMencel yes, it is due to td-agent user not having enough permissions, after I changed the service user as root, it worked properly.

[2017-10-02 16:03] MattMencel commented on #35
Ah good catch.  Might be better to add td-agent to the systemd-journal group than to run it as root?
https://serverfault.com/questions/717725/journalctl-access-for-non-root-users

[2017-10-03 09:44] #35 closed

[2017-10-03 11:26] #34 closed

[2017-10-03 11:26] errm commented on #16
Closed by #41

[2017-10-03 11:26] #16 closed

[2017-10-04 17:34] dannyk81 commented on #16
Sorry to keep nagging about this ;)

But since we are still using fluentd 0.12.x (not ready to move to 0.14.x yet), could this fix be ported to the 0.0.x branch?

[2017-10-06 14:06] akensho opened #44 "Can't install version "0.0.8""
**Environment**
[code]

[code]

[code]

**Detail**
I've tried  ``` $td-agent-gem install fluent-plugin-systemd -v 0.0.8``` the above environment.

The result is bellow.

[code]

This is mkmf.log.

[code]

According to the log,  I think I should install some libraries and set to correct configuration. What should I do as a next step?

[2017-10-10 03:29] dannyk81 opened #45 "Port 'Continue Reading on Bad Messages' to 0.0.x branch"
Would be great if #41 could be ported to 0.0.x branch as we are hitting this with fluentd 0.12.x

Thanks!

[2017-10-10 17:37] errm commented on #44
I think on ubuntu you need to install the `build-essential` package to get the build tools

[2017-10-12 11:23] akensho commented on #44
Thank you for your help！ This is bonehead issue (´◉◞౪◟◉)

[2017-10-12 11:23] #44 closed

[2017-10-19 17:38] jdoss opened #46 "#0 thread doesn't exit correctly (killed or other reason) plugin=Fluent::Plugin::SystemdInput"
We are seeing this error happen on start up when using fluentd 0.14.16 and fluent-plugin-systemd 0.3.1. From what I can tell systemd events are getting processed as expected.

[code]

[2017-11-03 19:05] leehambley opened #48 "Issue with missing dates stamps (logs arrive in logstash-1970-01-01 index)"
I'm running a simple config:

[code]

I'm on Ubuntu, so `/var/log/journal` didn't exist, and I had to create it (when it was immediately picked up)

And seeing issues that the elasticsearch index being created is named `logstash-1970-01-01` not hugely surprising given the records according to the `out_stdout` plugin:

[code]

I may be missing a piece of the mental model, but I'd have expected this

[2017-11-22 02:37] dannyk81 commented on #45
@errm Sorry for nagging 😉 but any chance to see this back ported to 0.0.x soon? 🙏

[2017-11-27 01:55] dannyk81 commented on #45
Seems like https://github.com/reevoo/fluent-plugin-systemd/pull/49 should fix this, thanks @chancez

@errm can you take a look?

[2017-12-01 10:03] errm commented on #45
Just released 0.0.9 to include the backport thanks to @chancez

[2017-12-01 10:03] #45 closed

[2018-01-05 13:15] bkupidura opened #50 "Dmesg logs"
Hi is there any way to collect dmesg (`journalctl -k`) logs with fluent-plugin-systemd?

If not this is somewhere in the roadmap? :)

[2018-01-08 09:43] errm commented on #50
As I understand dmesg logs are copied to the journal, so some config like `filters [{ "_TRANSPORT": "kernel" }]` *should* give you similar behaviour...

Clearly you must read from the head of the journal (rather than the tail) or the cursor will already have scrolled past the kernel logs...

[2018-01-08 09:44] bkupidura commented on #50
This is my config for systemd (no filters ...):
[code]

When new messages lands in dmesg (ex. OOM), they are not collected.

[2018-01-08 09:52] errm commented on #50
And you are seeing the message with `journalctl -k` ?

[2018-01-08 09:52] bkupidura commented on #50
Yep, correct. I disabled everything except source + final match and i see those events. Give me some time and i will debug what is wrong with my config...

[2018-01-08 10:08] errm commented on #50
Humm, I am not sure off hand...

Could you share a little more info about your setup, specifically OS / systemd versions...

Some thoughts that might help with debugging this:

* Try adding `filters [{ "_TRANSPORT": "kernel" }]` anyway, perhaps libsystemd has an implicit default to filter out these messages...
* Is this a permissions issue? Try running fluentd as root to see if that makes any diff

[2018-01-08 10:16] bkupidura commented on #50
So yep, this is issue with my env. My config use rewrite_tag_filter based on `service` field (which is created from `_SYSTEMD_UNIT`.

[code]

Normal messages have service fields:
[code]

But kernel messages miss service fields:
[code]

So final result is that my kernel messages are dropped. Solution for that is to use also ident:
[code]

We can close that issue, Thanks!

[2018-01-08 10:23] errm commented on #50
Yay, thanks  for letting me know... I am glad that this does indeed work as I would expect

[2018-01-08 10:23] #50 closed

[2018-01-31 22:34] errm commented on #48
Firstly it seems the clock on your system needs to be set correctly...

If for some reason you wanted to map `__TIMESTAMP_REALTIME` or `__TIMESTAMP_MONOTONIC` to something different you would need to configure that with `<entry> field_map`

This plugin doesn't do anything clever to alter the structure of the entries being read from systemd, you need to configure that correctly if that is what your

[2018-01-31 22:34] #48 closed

[2018-01-31 22:37] errm commented on #46
Could you share your full configuration file ... I can't replicate this error.

[2018-02-04 17:49] jdoss commented on #46
I will see if it is still happening and get you a config file on Monday.

[2018-02-05 16:55] errm commented on #46
Thanks very much @jdoss ... sorry it took me so long to look at this ...

[2018-02-09 22:57] jdoss commented on #46
@errm This isn't happening anymore. Here are the versions we have installed now and it must have been something funky with an older version of Fluentd.

[code]

[2018-02-11 13:50] errm commented on #46
Thanks for the report @jdoss good to know...

[2018-03-08 13:20] spacecowboy opened #52 "Log messages are split into 2048 byte chunks"
Our system is printing JSON-formatted logs and in some cases the message inside of the JSON object can be relatively long. In that case, fluentd-systemd appears to be splitting the long entry into 2048 byte pieces.

The same thing was the case for syslog but they added an option it: https://docs.fluentd.org/v1.0/articles/in_syslog#message_length_limit

[2018-03-08 15:03] errm commented on #52
It seems the default size of a systemd journal field should be 64K https://github.com/ledbettj/systemd-journal/blob/master/lib/systemd/journal.rb#L175

Seems I need to dig a little deeper ... I am going to try and reproduce ...

@spacecowboy what exactly is the behaviour you are seeing... is it truncation of a particular systemd field at 2K or truncation of the outputted fluentd messages?

[2018-03-08 15:50] spacecowboy commented on #52
## fluentd config

so this is the fluentd config we have added (other config files are default)

[code]

And that is getting processed for each split message. The jsonPayload in StackDriver looks like this:

## Log entry 1

[code]

## Log entry 2

[code]

## Log entry 3

[code]

Note that the `MESSAGE` attribute of each message (except maybe the last) is exactly 2048 bytes long (I copied it to a f

[2018-03-16 14:15] errm commented on #52
Hi @spacecowboy this seems quite strange since I don't think the truncation is happening in fluentd, but if you have the default configuration systemd shouldn't start truncating the message until it reaches 64K....

Do you see the same truncation looking at the same entries with another tool e.g. `journalctl`?

[2018-03-16 15:31] spacecowboy commented on #52
Hmm. I re-ran it to reproduce, and strangely enough I *DO* see the chunking in the systemd journal for the service. So this is actually not a problem with this plugin.

Thanks for helping out though @errm , sorry for wasting your time.

[2018-03-16 15:31] #52 closed

[2018-03-18 14:59] errm commented on #52
No problem... thanks for taking the time to report this anyway!

[2018-03-18 15:17] errm opened #53 "1.0.0"
This plugin has been used by an number of users e.g. https://github.com/fluent/fluentd-kubernetes-daemonset

It seems to be mostly stable so I am considering cutting a 1.0 branch and cleaning up a little of the backwards compatibility code e.g. https://github.com/reevoo/fluent-plugin-systemd/blob/master/lib/fluent/plugin/systemd/pos_writer.rb#L62

If there are any other issues/features that I need

[2018-03-30 19:04] emacski commented on #53
@errm,

I have noticed several instances where people are copying and pasting the example plugin configuration from the `README.md` as a starting point for configuration. I didn't really account for that when creating the somewhat arbitrary example `field_map`. I created the example to try and cover all the functionality of the mutator, but it's not very practical for real-world use. Do you think

[2018-04-04 08:54] errm commented on #53
Good point @emacski, I will also work on improving the documentation pre 1.0.0

[2018-04-10 19:36] ewolinetz commented on #34
We are experiencing this using release `0.0.9`. Would it be possible to get a cherry pick of this fix to the `0.0.x` branch?

[2018-04-12 19:53] Jitsusama opened #56 "Problem Understanding Filters"
Hello.

First off, thanks for this awesome plugin. It has me quite excited! That said, I'm totally ignorant about almost everything Ruby, so I'm having a hard time understanding how to construct filters.

I would like to filter everything that contains a `_SYSTEMD_UNIT` value of `docker.service`, as well as everything that contains any value in `CONTAINER_NAME`.

I understand how to do the first a

[2018-04-13 09:29] errm commented on #56
Hi,

Great question, we certainly need to improve the documentation around filtering somewhat...

The interface we have here is just a very thin wrapper over what you would do to filter entries with `journalctl`...

I made an attempt to explain this better below, by borrowing the examples from the journalctl docs, let me know if they help? And I will work on a properly written page of documentatio

[2018-04-13 10:03] Jitsusama commented on #56
Thanks so much for the excellent description!

[2018-04-13 11:50] Jitsusama commented on #56
If I was to put in a PR to expand the documentation around this particular topic, which branch should I base it off of? Also, would you like to have documentation branch out into separate files in a `/docs` directory, or just continue to expand off of `README.md`?

[2018-04-13 12:32] errm commented on #56
Honestly I haven't thought about it much ... but it is a goal for 1.0 to have better documentation.

`/docs` on master seems reasonable to start with, I think the README is already a bit too long... so think we should start to split off some topic pages and index them all in the README...

Honestly though if you want to spend some time on this ... do whatever you feel works best...

[2018-04-13 12:36] Jitsusama commented on #56
I'll submit separate PRs to both.

[2018-04-13 13:01] Jitsusama commented on #56
I'm writing up the documentation now, but I found an edge case that you didn't address. Is there any way to specify an `OR` condition between two expressions instead of the default `AND`?

IE:

[code]

[2018-04-13 13:09] Jitsusama commented on #56
I think one of your examples might actually hit this question.

You gave an example of:

[code]

Would the two separate hashes define a logical `OR` condition @errm? IE: `[{"THING1": "value"}, {"THING2": "value"}]` would match any logs with `THING1=value` `OR` `THING2=value`?

[2018-04-13 13:50] errm commented on #56
Correct:

* Within a single Hash the field matches are logical AND
* Each hash in the array is a logical OR
* Array values are logical OR (for that value)

[2018-04-13 14:05] Jitsusama commented on #56
There, I've created 2 PRs, one against the master branch and the other cherry-picking commits into the 1.0.0 branch.

[2018-04-13 14:45] errm commented on #56
Sure I wouldn't worry about the v1.0.0 branch I am going to merge it into master just before we release v1 anyway ... people will see the docs on master when they look for them ...

[2018-04-13 15:54] Jitsusama commented on #56
Since my issue has been resolved and master documentation has been merged, I'm happy that this issue is fully dealt with. Thanks again for your help!

[2018-04-13 15:54] #56 closed

[2018-04-13 16:11] errm commented on #56
Thanks for your help :)

[2018-04-24 10:56] JooyoungJeong opened #59 "How can i use multiline ??"
how can i use multiline ??

------
@test@ FATAL io.robustperception.java_examples.JavaSimple$ExampleServlet Fatal : You chose a number > 100
java.lang.NullPointerException: NullError
        at io.robustperception.java_examples.JavaSimple$ExampleServlet.doGet(JavaSimple.java:35)
        at javax.servlet.http.HttpServlet.service(HttpServlet.java:735)
        at javax.servlet.http.HttpServlet.servic

[2018-04-24 15:17] errm commented on #59
This plugin does not support multiline... see https://github.com/reevoo/fluent-plugin-systemd/issues/11

If you are interested on working on this... I am happy to accept a PR... But I have no interest in implementing it myself :)

[2018-04-24 15:32] Jitsusama commented on #59
@JooyoungJeong; multiline log handling can be handled before this plugin receives the event record. Common ways of handling this is via the [concat](https://github.com/fluent-plugins-nursery/fluent-plugin-concat) filter plugin. I've used this myself with great success.

[2018-04-26 13:42] errm commented on #59
I have not tried but it does seem that systemd might support log entries with newlines in them... If this works then this plugin should read them correctly without any further configuration ... I will try to make this work and report back

[2018-04-26 14:33] Jitsusama commented on #59
@errm; that works for events sent to systemd as a single event, but more often than not, particularly in the case of Docker when it's configured to use systemd as its log-driver, they are sent to systemd as a separate event per log line. This is something I know all too well from my own personal experience.

[2018-04-26 19:30] edsiper opened #60 "License change request (Apache License v2.0)"
Fluentd organization and CNCF are happy to receive this plugin and hosted it under the official fluent/ organization. The only requirement is the license change to Apache License v2. If all authors agreed on that and the license is changed, we can start the transition.

[2018-04-26 22:20] errm commented on #60
@cosmo0920
@repeatedly
@emacski
@Jitsusama
@mikekap
@neko-neko
@jescarri

You have all contributed code to this plugin could you please comment below indicating that you are happy for me to relicense your code as Apache License v2.

If you are unhappy for some reason please also comment so I can take action to replace your code...

[2018-04-26 22:29] Jitsusama commented on #60
I personally use Apache 2 on all of my own projects. I prefer true freedom to chained freedom (yes, I’m speaking about you GPL!)

[2018-04-26 22:43] errm commented on #60
Currently the plugin is MIT licensed... Mainly because this is fairly much the default choice in the Ruby world... AFAIKT it is much the same as Apache just without the Patent grant stuff... but clearly contributor consent is the key thing here before we change anything.

[2018-04-27 00:28] repeatedly commented on #60
I'm ok for Apache 2 :)

[2018-04-27 01:05] cosmo0920 commented on #60
I'm also OK for Apache-2.0 license. :smile:

[2018-04-27 01:06] mikekap commented on #60
I'm ok relicensing under the Apache 2.0 license.

[2018-04-27 02:00] emacski commented on #60
I'm ok with Apache 2.0 license as well

[2018-04-27 07:05] errm commented on #60
Also @richm are you OK with moving to Apache 2.0, sorry I missed you yesterday... I was tiered?

[2018-04-27 07:07] neko-neko commented on #60
I'm ok for Apache2 license :)

[2018-04-27 14:21] richm commented on #60
@errm yes, Apache 2.0 is fine

[2018-04-27 15:55] errm commented on #60
Oops missed one more person ... ping @jtwile2 re this ... you didn't show up in the contributors thing in github... but I remember your PR :)

[2018-04-27 16:03] errm commented on #59
I guess the other option would be to configure your applications logger to escape the newlines ... This guy has some examples about doing it in Java https://fabianlee.org/2018/03/09/java-collapsing-multiline-stack-traces-into-a-single-log-event-using-spring-backed-by-logback-or-log4j2/

[2018-05-01 14:30] errm commented on #60
@jtwile2 & @jescarri it would be great to hear if you are ok with us relicensing this plugin with the Apache 2.0 license so we can transfer it to the fluentd organisation...

If I don't hear within a week or so I will remove the code in question from the project ...

[2018-05-02 18:40] kevdowney opened #61 "How to use this plugin via fluentd docker?"
I have tried to run fluentd-plugin-systemd via a docker, but it is not able to find systemd (dependency failures).

Is there a way for this plugin to work via the docker container?

[2018-05-03 20:13] errm commented on #61
Hi @kevdowney thanks for your question...

It is possible to use this plugin within a docker container... you just need to have the correct dependencies installed.

On Debian/Ubuntu you need to install the `libsystemd0` package. On CentOS (and RHEL I would imagine) you need to remove the `fakesystemd` package and install `systemd`

We already have a small note mentioning this here https://github.c

[2018-05-03 21:04] errm commented on #60
Ok I said a week... but I went ahead and rewrote a few lines so we can push forward with this ... the 1.0.0 branch is now relicensed as Apache 2.0.

Thank you to everyone for coming forward quickly and making this so painless...

[2018-05-03 21:04] #60 closed

[2018-05-03 21:07] errm opened #63 "Pull out seperate `field_map` examples"
We need to make the main example clearer... so should simplify it, and document `field_map` in an example of its own...

Mentioned here:  https://github.com/reevoo/fluent-plugin-systemd/issues/53#issuecomment-377598185

[2018-05-04 09:03] JooyoungJeong commented on #59
Thank  you for reply.
The form of exception error is not fixed(each language).  So I redefined log pattern in application.
I use log4j2 and i defined pattern as follows.
"exception":"%replace{%xEx}{\n|\tat}{ }"

[2018-05-04 18:17] errm commented on #59
Sounds good... I will mention these two strategies in the docs... It does seem where the application is using a logger that can be configured the best option is to replace the newlines in each message to keep them as one systemd entry ...

[2018-05-09 19:15] emacski commented on #61
While it might be a little out of date, I use this plugin in a fluentd / elasticsearch docker implementation for kubernetes with the ability to handle shipping container logs as well as the host's systemd logs.

You can find the fluentd container source here: https://github.com/emacski/k8s-fluentd which also includes a functional k8s DaemonSet example for the container which can be used to extract

[2018-05-09 21:04] errm commented on #61
Thanks @emacski looks like an exemplary setup ...

The main community maintained example is this https://github.com/fluent/fluentd-kubernetes-daemonset

[2018-05-10 14:25] #53 closed

[2018-05-10 14:25] #59 closed

[2018-05-10 14:25] #61 closed

[2018-05-10 14:25] #63 closed

[2018-05-16 11:27] ameyrk18 opened #64 "Heavy/Rapid fluentd container logs are logged while the docker daemon logging driver is set to journald when used fluentd-plugin-systemd"
Hi There,

Looks like the fluent-plugin-systemd logs rapid and huge container logs of fluentd when the logging driver of docker daemon is set to journald. Below is the example and also you see thousands of backslash charaters. My log files have grown in GB now. Things get back to normal when I set the docker logging driver to json. Is this expected behaviour?

May 16 11:01:09 ip-172-25-0-204 debfd

[2018-05-16 11:38] Jitsusama commented on #64
Hello @ameyrk18; I've run into this problem myself. This is generally caused when fluentd is configured to write out log events to `STDOUT`, when configured to use systemd as the log-driver, when fluentd is configured to process logs from systemd.

You've basically created a loop, where one container sends a log to `STDERR`/`STDOUT`, Docker forwards this to systemd, systemd forwards this to fluent

[2018-05-16 12:05] ameyrk18 commented on #64
Hi @Jitsusama yes your right that happens when the output driver is set stdout. Ahh, yes now I get the loops :) weird. Not sure if this is expected or not.

I bypassed this as you said. Reconfigured my docker logging to journald and forced the container (fluentd) to use json logging.

Many thanks for your inputs.

I leave this topic with the owner to close this if this is not an issue.

Thanks,
Am

[2018-05-21 21:34] errm commented on #64
Thanks for raising this @ameyrk18

I guess we should document that this can happen ...

Am I correct in thinking @ameyrk18 that when this issue occurs you are reading the full journal without setting `matches`/`filters`?

[2018-05-22 09:09] ameyrk18 commented on #64
@errm . I will document this and update READ.me

Yes your understanding is correct I am reading full journal without setting matches/filters.

Best Regards,
Amey

[2018-06-12 15:03] #64 closed

[2018-07-05 07:19] serathius opened #68 "Corrupted pos file"
Forced termination caused corruption of pos file. Mutations to pos file could be done atomically to increase reliability.

`fluent-plugin-systemd` version 1.0.1

From Logs
[code]

[2018-07-08 10:26] errm commented on #68
Humm... seems like an issue I agree

Right now we use fluentd's storage plugin system, so I don't think we have this level of control over how the file is written... but I will dig into it a little in the week and see if it is something that can be fixed upstream or if there is a way to configure the file storage to be atomic ...

If we did have atomic writes here though I suspect we would more of

[2018-07-08 10:32] errm commented on #68
Assuming you are using the standard local storage plugin it does indeed seem to do atomic writes, the implementation here seems to be correct on first reading...

https://github.com/fluent/fluentd/blob/master/lib/fluent/plugin/storage_local.rb#L130-L132

@serathius Could you explain a bit more about the environment where you saw this (esp the configuration for the position storage) and if you were

[2018-07-27 14:27] ameyrk18 opened #69 "Systemd not able to ship logs if the instance is stopped and started"
Hi

I am using the below s/w versions. I am shipping system logs generated by journal using fluentd syslog plugin to graylog.

td-agent --> 1.2.2
fluent-plugin-systemd --> 1.0.1

I am shipping systemd logs by reading journal using systemd plugin. It absolutely works fine without any issues. Below is my config.

[code]

However looks like there is an issue. I have daemonised fluentd using systemd.

[2018-08-01 08:40] ameyrk18 commented on #69
This was a config issue from my side. Buffer section was missing which was causing this problem. Apologies.

[2018-08-01 08:41] #69 closed

[2018-08-02 08:26] errm commented on #69
Thanks for the report, I am glad you solved your issue... Is there anything we could have done with documentation to help you avoid this?

[2018-08-10 16:41] negz opened #70 "Corrupted journal can still cause crashes"
Hello,

We noticed today that our fluentd was stuck in a crash loop due to a corrupted journal:
[code]

[code]

I see that #16 fixed an issue like this - my guess is that there's another code path that can be affected by this issue but that does not catch the error. We're running version 1.0.1 with the following other moving pieces:

[code]

[2018-10-14 20:54] bobziuchkovski commented on #68
He might have switched his config from using the older `pos_file` param to the newer `<storage>` block and pointed at the same position file.  I ran into the exact same error message when I tested that transition myself.  Or he might be encountering something else...

[2018-10-16 06:51] errm commented on #68
Thanks for the info @bobziuchkovski ... we should add this to https://github.com/reevoo/fluent-plugin-systemd#common-issues

[2018-10-18 20:42] nulltrope commented on #68
Hi I am seeing a similar error reading the pos file
[code]
however in this case, the file itself exists on the host but it is empty. This is resulting in my fluentd containers crashlooping. Removing the storage.json and restarting seems to fix, will see if this issue crops up again.

[2018-10-19 10:57] errm commented on #68
Thanks @jekohk ... I will take a look at this again and see if there is something we can do here to fix this ...

[2018-11-01 00:28] kentsteer opened #71 "Segmentation fault reading from systemd"
I'm seeing continuous segmentation faults on STDERR, seemingly when trying to initialize the journal:

[code]

While STDOUT is showing the following repeatedly (with pid changing):
[code]

Source config:
[code]

Let me know if there are any other details I can provide or experiments I can run.

[2018-11-13 02:44] Tim017 commented on #68
we met the same issue here - 'fluentd container crashlooping', any update or clue to fix it?

[2018-11-19 08:01] Michake commented on #68
I met the same issue when 'fluentd container crashlooping', any update?

[2018-12-06 10:54] vladimir-kozyrev commented on #68
Same issue here.
We've got the file in place but it is empty. fluentd is crashing because of this.
[code]

[2018-12-07 20:24] nulltrope commented on #68
Hi any updates on this?
Still causing issues for us, empty cursor file prevents the fluentd from restarting

[2018-12-11 13:24] arslanbekov commented on #68
Hi any updates on this?

[2018-12-17 23:23] mojotx commented on #68
Following. We've seen this as well.

[2019-01-06 10:41] yuripastushenko commented on #68
We also have the same problem.
Once in 2-3 weeks, we are forced to delete the corrupted file for problem fixing.
Any updates?

[2019-01-09 15:53] loburm opened #72 "Duplicate entries from journald in 0.0.11"
Our team have found the issue in one of our fluentd images. Steps to reproduce:
1. Create file /etc/fluent/fluent.conf with content
[code]

2. Run command: docker run -ti --rm -v /etc/fluent/fluent.conf:/etc/fluent/fluent.conf -v /usr/lib64:/host/lib -v /var/log:/var/log --network=host gcr.io/google-containers/fluentd-gcp:2.0.18

It's going to print latest message from docker every second.

If use

[2019-01-25 15:45] grjones commented on #68
This is also happening for me fairly often, probably every couple of weeks.  For me, I'm running fluentd on a VM, so the VM stopping or pausing is frequent which may be a contributing factor.

[2019-01-28 13:44] stevenjm opened #73 "Hard dependency on libsystemd for filter_systemd_entry"
Hi there,

I'm looking at using the `filter_systemd_entry` plugin independently of the `in_systemd` plugin, running in Docker. Currently, this requires pulling the Debian-based fluentd Docker image because the `fluent-plugin-systemd` gem has a hard dependency on `systemd-journal` which requires libsystemd, even though `filter_systemd_entry` doesn't use it.

The Alpine-based image is significantly

[2019-02-05 11:57] errm commented on #68
@jekohk @Arslanbekov @mojoTX @yuripastushenko @grjones Could you share the storage config you are using... As I mentioned before if you are using the standard local storage plugin writes should be atomic...

[2019-02-05 12:16] errm commented on #73
I guess option 1 seems best ... then this gem can depend on that ... I will add it to my list of things to do...

I think option 2 sounds crummy I don't want to have to make the plugin any more complex to install for the basic usecase...

[2019-02-05 12:29] errm commented on #73
I just had a look at installing `systemd-journal` on alpine and there doesn't seem to be any build-time dependency on `libsystemd`... This makes sense since it uses ffi ...

[code]

This works fine for me ... I guess it would be nice to have a version without any native extensions but for now I think this is really low priority for me to work on ... 🤷‍♂️ PR welcome though :)

[2019-02-05 12:31] errm commented on #72
Do you have some sample of the fluentd logs you could share ... it sounds perhaps like something is crashing/erring and its just retried every second ...

[2019-02-05 12:33] errm commented on #71
Are you running fluentd on the same host as the journal is being created on or in a docker container?

If you are in a container could you share the version of systemd on the host and in your container?

[2019-02-05 15:05] stevenjm commented on #73
Thanks for the reply!

It looks like this must have been me failing at reading error messages. Now I have egg on my face. :slightly_frowning_face: I'll close this since it does actually work.

[2019-02-05 15:05] #73 closed

[2019-03-12 01:55] schmidtjohannes commented on #68
We are facing the same issue on centos 7 with k8s 1.12 using daemonset with fluent/fluentd-kubernetes-daemonset:v1.3.2-debian-elasticsearch: https://github.com/fluent/fluentd-kubernetes-daemonset/issues/245.

[2019-04-11 20:46] jbye opened #76 "Example configuration issues with td-agent 3"
Just wanted to let you know I had some issues getting this plugin to run with the config example because the fluentd config parser (td-agent 3) failed to parse the matches field.

To resolve the issue I had to escape the quotes, so my configuration ended up looking like this

`matches "[{ \"_SYSTEMD_UNIT\": \"consul.service\" }]"`

In addition, I had trouble getting the storage configuration used

[2019-05-30 04:19] JoshuaOliphant commented on #70
This issue is happening for me too. In fluentd logs:
[code]
and
[code]
Received these 2 logs a single time. The logs on this particular kubernetes pod stopped flowing. I deleted the pod, it came back up, and then the logs started flowing again.

I ran `journalctl --verify` from the node where the pod was running, but also nodes there the pod was NOT running, and saw the same FAIL messages. They ca

[2019-05-31 17:55] mariusgrigoriu commented on #70
Here's the full log related to this
[code]

[2019-06-24 10:29] errm commented on #71
Closing since there isn't much we can do without knowing specific versions!

[2019-06-24 10:29] #71 closed

[2019-06-24 10:32] errm commented on #68
Seems this was an issue with fluentd that was patched upstream, updating to the latest fluentd should fix!

[2019-06-24 10:33] #72 closed

[2019-06-24 17:14] #76 closed

[2019-06-24 17:16] errm commented on #76
Thanks for the info ... you are indeed correct about the storage configuration...

For the `matches` config I think the problem is just because you are surrounding the config with quotes ...

[code]

Should work as expected ...

[2019-07-09 13:26] adie commented on #46
This is happening on my end as well when shutting down fluentd.
As I understand the problematic line is that one: https://github.com/fluent-plugin-systemd/fluent-plugin-systemd/blob/master/lib/fluent/plugin/in_systemd.rb#L115 - `router` becomes `nil` on shutdown.

[2019-07-09 20:33] errm commented on #46
@adie could you confirm the fluent version you are using?

[2019-07-10 09:40] adie commented on #46
I use fluentd v1.5.2 and fluent-plugin-systemd v1.0.2

[2019-07-10 09:47] adie commented on #46
@errm excerpt from my td-agent.log:
[code]
So while it does not seem to cause any issues, it spams the logs.

[2019-07-25 17:02] qingling128 opened #78 "Support customizing `pos_file` path"
[Problem]
When specifying a customized `pos_file` for in_systemd plugin, the value gets ignored.

[Version]
gem 'fluent-plugin-systemd' version '1.0.2'

[Config]
[code]

[Warnings in the log]
[code]

[2019-07-25 17:05] qingling128 commented on #78
Ah, in fact this is out-of-date. I think I just need to use https://docs.fluentd.org/storage.

[2019-07-25 17:05] #78 closed

[2019-08-27 09:18] errm commented on #78
Yes with the current version of the plugin you can just use any storage plugin

[2019-09-12 03:47] zhasik911 commented on #68
Hi, everyone!!! We have the problem. Fluent display message
[code]
 fluent version is fluent/fluentd-kubernetes-daemonset:v1.7-debian-elasticsearch6-1. Have you any idea??

[2019-10-26 19:15] kumarganesh2814 commented on #68
`2019-10-26 18:45:41 +0000 [error]: #0 failed to save data for plugin storage to file path="/var/log/fluentd-systemdlog.pos/worker0/storage.json" tmp="/var/log/fluentd-systemdlog.pos/worker0/storage.json.tmp" error_class=Errno::ENOENT error="No such file or directory @ rb_file_s_rename - (/var/log/fluentd-systemdlog.pos/worker0/storage.json.tmp, /var/log/fluentd-systemdlog.pos/worker0/storage.json

[2020-01-14 13:12] medalliaerlich opened #79 "Plugin throughput too slow"
Hi I'm using this plugin to get logs from journal and then save them to files splitting by container name.
The configuration I'm using looks like this:
[code]

With this setting I'm only getting a throughput of ~1000 lines per second while, according to https://docs.fluentd.org/deployment/performance-tuning-single-process, FluentD should be able to run 5000 lines per second.
A few additional detai

[2020-01-14 15:27] errm commented on #79
Yeah I haven't ever needed such high performance from this...

This plugin is quite a thin wrapper over libsystemd ... so I can't immediately suggest any obvious candidates for optimisations.

One possible workaround for your usecase would be to use the docker fluentd logging driver https://docs.docker.com/config/containers/logging/fluentd/ thus avoiding the systemd journal (and this plugin)

[2020-02-05 18:16] ZigZagT commented on #79
Using docker fluentd logging driver disables `docker logs` command, which would be very frustrating if the logging system it self encounters issue (for example a network issue, we just ran into a case like it a few days ago). I guess that a reason for some people using to this plugin as an alternative.

Btw this plugin prevents fluentd to use multiple workers. It'd be very nice if and enhancement

[2020-02-05 20:32] errm commented on #79
another thing I could suggest is trying fluent bit https://fluentbit.io/documentation/0.12/input/systemd.html

I don’t know ... but perhaps that implementation is more performant...

I am unlikely to work on this myself at the moment... but I am happy to review and merge anything that comes in ...

[2020-03-04 09:22] xidiandb opened #81 "The deleted files are still occupied"
[code]
I'm using the latest version

[2020-03-05 08:14] xidiandb commented on #81
When I upgraded systemd-journal to 1.4.1 the question still exist. Why journal.close didn't work.

[2020-06-11 06:08] xidiandb commented on #81
[fluent-plugin-journal](https://github.com/xidiandb/fluentd-plugin-journal/) can  solve the problem

[2020-06-16 17:49] chrissound opened #82 "`checking for ffi.h... *** extconf.rb failed ***`"
[code]

[code]

[2020-06-18 12:35] chrissound commented on #82
I was missing build-essential... `apt install -y build-essential`

[2020-06-18 12:35] #82 closed

[2020-08-25 12:47] shanmukha511 opened #84 "How to get Gke node reboot and shutdown logs using journald Systemd service unit"
What happened:
i have implemented the journald configuration in my splunk but still i could not see node reboot logs.

I want to know that my gke node got restarted or not by checking the logs in splunk and i am not sure which systemd service unit holds that data

What you expected to happen:

i want to see logs to be reflected wn ever reboot happen on that gke node

How to reproduce it (as minima

[2020-09-14 13:01] zaval1976 opened #85 "Do not install the plugin"
Hello,

I'm trying install plugin on CentOS7:
# cat /etc/redhat-release
CentOS Linux release 7.8.2003 (Core)

See an error:
[root@kbn-wn-01 log]# gem install fluent-plugin-systemd -v 1.0.2
Building native extensions.  This could take a while...
ERROR:  Error installing fluent-plugin-systemd:
        ERROR: Failed to build gem native extension.

    /usr/bin/ruby extconf.rb
checking for ruby/st.h..

[2020-09-16 06:23] zaval1976 commented on #85
Sorry, I'm solved the problem. Was not install GCC.

[2020-09-16 06:23] #85 closed

[2020-11-20 20:52] somasusr opened #86 "Not able to ship logs even after adding td-agent user to systemd-journal group"
Hi @errm we are facing issue in shipping logs from systemd. We have followed all the instructions and added "td-agent" user to "systemd-journal" group. Ours is Centos box and we have installed td-agent version 3 (td-agent.x86_64 3.8.0-0.el7). Looks like permission issue and when we add "td-agent" user to "root" group it works. Do we really need to provide root access to td-agent service for this p

[2021-01-27 07:55] mindw opened #87 "heads up! - systemd 246 journal logs produced is not readable by older versions of systemd-journald"
Hopefully it will save someone the 🤯  and the time. IMO it is unrelated to the plugin but rather a host issue.

https://github.com/bottlerocket-os/bottlerocket/issues/1200

[code]

[2021-04-20 15:59] errm commented on #87
Thanks for the info... it would make sense to add this to the README I think!

[2021-04-20 16:00] errm commented on #86
What do the permissions on the files in `/var/log/journal` look like?

[2021-04-20 16:03] #68 closed

[2021-04-20 16:22] somasusr commented on #86
@errm We figured this and it worked after we set permission to "td-agent" user for "/var/log/journal". Thank you for your response.

[2021-04-20 16:22] #86 closed

[2021-04-22 15:48] errm commented on #84
This doesn't seem to be a bug with fluent-plugin-systemd?

If you have a general support question about how your Google Cloud servers behave on reboot I sugest contacting their support channels, or perhaps ask on serverfault or whatever...

If you have a bug to report please feel free to re-open this issue with some more information :)

[2021-04-22 15:48] #84 closed

[2021-04-22 16:03] errm commented on #81
Thanks for the info @xidiandb are you interested to open a PR with your changes?

[2021-04-22 16:34] errm commented on #46
Thanks for the info @adie ... sorry it's taken a long time to look at this!

Having had a hard look at the code it is clear we are not handling shutdown at all cleanly... I am going to take a look at this over the next week or so!

[2021-04-23 07:00] xidiandb commented on #81
sure，I will rework my rough code and submit a PR

[2021-04-23 18:05] errm commented on #70
Thanks to the contribution of @mariusgrigoriu this should now be fixed, a new version has been released https://github.com/fluent-plugin-systemd/fluent-plugin-systemd/releases/tag/v1.0.3

[2021-04-23 18:05] #70 closed

[2021-04-24 01:34] #46 closed

[2021-04-24 01:38] errm commented on #81
I am also thinking that this approach might help with #79, if we can think of a way to distrabute the files amongst workers then perhaps we can enable multi worker support ...

[2021-04-24 01:51] errm commented on #46
I released a new version 1.0.4 with the fix for this issue!

[2021-08-20 15:44] stavrospassbase opened #92 "support for Fedora based systems?"
Hi Team,

we are leveraging Fedora Core OS and want to
gather systemd logs.

For some reason the plugin is not gathering logs. It is being added
without issues though.

Same setup on Ubuntu based system and logs are gathered.

`<source>
   @type systemd
    tag log.sre.systemd
    path /var/log/journal
    read_from_head true
  <storage>
    @type local
    path /var/tmp/fluentd/tail_position/syst

[2021-10-07 09:13] lalitkr90 opened #93 "Logs getting delayed"
Hi,
I am using this plugin to collect the logs from journald and separating the logs for docker, kubelet and rest other services.
Apart from this using the concat filter for multiline logs parsing as a single event.
All this seems to work fine, when the log generation is normal, but few of the applications generate huge amount logs including the debug logs which is where we are encountering the lo

[2021-10-07 15:53] lboclboc opened #94 "This plugin does not seem to work when systemd rotates the journal"
It seems that when the journal file system.journal is rotated this plugin does not start reading from the new file generated.

[2021-12-10 10:53] fadlinurhasan opened #95 "Plugin crash during graceful shutdown"
Hi Team,

We face below errors when try to restart the td-agent. It seems related to the latest changes when `@journal` set to `nil`. Do you have solution for this case?

OS Version: Ubuntu 20.04
td-agent version: 4.3.0-1
fluent-plugin-systemd version: 1.0.5

Thanks

[code]

[2021-12-23 12:23] harshit-splunk opened #96 "Does this plugin support zstd compression compression?"
Splunk connect for kubernetes uses this plugin and it seems it causing issue when zstd compression is enabled (https://github.com/splunk/splunk-connect-for-kubernetes/issues/679)

fluent-plugin-systemd=1.0.2

[2022-09-23 10:10] adriannieto-attechnest commented on #87
Anyway we could make this work ?

[2022-09-23 11:35] adriannieto-attechnest opened #97 "Latest 1.0.5 version is missing some gem dependencies"
Built on top of fluent/fluentd:v1.15-debian-1, with a quite close version of this dockerfile:

[code]

[code]

[2022-10-27 15:06] Ahuja2023 opened #98 "Unable to read journal files from subdirectories under default path var/log/journal"
Hi Team,

I'm using this plugin using default directory (i.e. var/log/journal) with below config & able to receive messages using rabbitmq output plugin but problem starts when I try to read data from subdirectories.

<source>
  @type systemd
  tag journal
  path /var/log/journal
  read_from_head true
  <storage>
    @type local
    path /var/log/fluentd-journald-cursor.json
  </storage>
  <entry>